<div class="comments">
  <!--for each comment-->
  {{#each this}}
    <div class="card">
        <h3 class="card-header">-{{user.username}}, {{format_date created_at}}</h3>
        <section class="comment card-body">
            {{!-- <div class="meta">
              <!--provide data on user and when created--> 
                
            </div> --}}
            <div class="text">
              <!--import text of comment-->
                {{comment_text}}
            </div>
        </section>
    </div>
  {{/each}}
</div>
